Repository SAP/arp142-hana, pull requests merged in 2024-11, with the labels that each got.

#256 RHEL - pacemaker, remove as there is no current minimal version requi…
  scripts/lib/check/7015_pacemaker_version.check
Labels: check

#252 new check for correct hostname setting
  scripts/lib/check/0820_hostname.check
  scripts/lib/checkset/RHELonPoweronly.checkset
  scripts/lib/checkset/RHELonX64only.checkset
  scripts/lib/checkset/SLESonPoweronly.checkset
  scripts/lib/checkset/SLESonX64only.checkset
Labels: check

#258 os_hana_support_sles_intel - refactor array (use reference instead of…
  scripts/lib/check/0002_os_hana_support_sles_intel.check
Labels: check

#259 shunit2 - work around teardown erroneously executed twice
  scripts/tests/check/0090_os_kernel_tainted_test.sh
  scripts/tests/check/2310_vm_min_free_kbytes_test.sh
  scripts/tests/check/5100_pagecache_limit_sles_test.sh
Labels: unit test

#261 os_hana_support_intel - Azure, Amazon,GCP - SLES15.6, RHEL8.10, RHEL9.4
  scripts/lib/check/0002_os_hana_support_sles_intel.check
  scripts/lib/check/0003_os_hana_support_rhel_intel.check
Labels: Hyperscaler, Intel x64, check

#262 sapconf - new version 15.4+ , simplify versions
  scripts/lib/check/0440_sapconf_sles.check
Labels: check

#263 uuidd - remove SLES15.1
  scripts/lib/check/0811_uuidd_version.check
Labels: check

#264 hana infra issues - add more info to issue "Nameserver Hangs" -> cloc…
  scripts/lib/check/8050_hana_revision_infra_issues.check
Labels: check, HANA

#265 os_kernel_sles - refactor array (use reference instead of copying)
  scripts/lib/check/0010_os_kernel_sles.check
Labels: check

#266 SLES+RHEL kernels - new minimal versions (<1y)
  scripts/lib/check/0010_os_kernel_sles.check
  scripts/lib/check/0020_os_kernel_rhel.check
Labels: check
