Repository SAP/arp142-hana, pull requests merged in 2025-05, with the labels that each got.

#317 sssd - fix error sapnote is read only, adjust sap notes
  scripts/lib/check/0830_sssd_version.check
Labels: bug, check

#318 ignore upper and lower case during comparison
  scripts/lib/check/0820_hostname.check
Labels: check

#320 SLES kernel issues 15.5/15.6 - Azure mana, /proc/cpuinfo
  scripts/lib/check/0011_os_kernel_knownissue_sles.check
Labels: check

#321 Azure azcopy - new version 10.29.1
  scripts/lib/check/9105_tools_azcopy_azure.check
Labels: Hyperscaler, check

#322 Indexserver Crash on virtualized Intel Ice Lake hosts
  scripts/lib/check/8050_hana_revision_infra_issues.check
Labels: check, HANA

#323 HANA client - new version
  scripts/lib/check/8500_sap_hana_client.check
Labels: check, HANA

#324 Azure instances - add new emerald rapid E96*; remove old baremetal-sku
  scripts/lib/check/0101_supported_instances_azure.check
Labels: Hyperscaler, check

#326 RHEL8.8 - newer minimal kernel
  scripts/lib/check/0020_os_kernel_rhel.check
Labels: check
